/* @override http://looce.com:3000/stylesheets/style.css */

/* @override http://looce.com:3000/stylesheets/style.css */

@import url("reset.css");

body {
	background: url(../images/main_bg.png) top left repeat-x;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-style: italic;
	font-weight: normal;
}

a {
	color: #9ad0bc;
}

a:hover {
	color: #63ad91;
}
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
}

#header {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	margin-top: 81px;
}

h1 a{
    background: url(../images/logo.png) top left no-repeat;
    width: 281px;
    height: 114px;
    text-indent: -9999px;
    display: block;
    float: left;
}

h2 {
	font-family: Archer, Rockwell, courier, serif;
}
#search {
	float: right;
	margin-top: -69px;
	font-family: Archer, Rockwell, courier, serif;
}

#search a {
	color: #2e2e2e;
	text-decoration: none;
	font-size: 14px;
	margin-right: 10px;
	margin-left: 5px;
	font-weight: bold;
}
#search a:hover {
	color: #fff;
	font-weight: bold;
	margin-left: 5px;
}
#search form {
	float: left;
	margin-top: -4px;
}

#search span {
	float: left;
	font-size: 14px;
	padding-right: ;
}

#search form input[type="text"] {
	background: #fff url(../images/search_icon.png) no-repeat 4px 4px;
	padding: 10px 3px 3px 24px;
	font-family: Archer, Rockwell, courier, serif;
	font-size: 16px;
	height: 10px;
	float: left;
	margin-left: 10px;
	width: 120px;
}

#search form input {
	border: 1px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#search form input[type="submit"] {
	font-family: Archer, Rockwell, courier, serif;
	color: #9ad0bc;
	border-color: #333;
	background-color: #2e2e2e;
	height: 25px;
	width: 40px;
	margin-left: 8px;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
	padding-top: 4px;
}


#authentication {
	float: right;
	border: 1px solid #e1e1e1;
	padding: 25px;
	font-size: 12px;
}

a.facebook_login_btn {
	background: url(../images/fb_login_btn.png) top left no-repeat;
}

a.twitter_login_btn {
	background: url(../images/twitter_login_btn.png) top left no-repeat;
}

a.facebook_login_btn, a.twitter_login_btn {
	
	float: left;
	display: block;
	width: 154px;
	height: 22px;
	text-indent: -9999px;
}

a.facebook_login_btn:hover, a.twitter_login_btn:hover {
	background-position: 0 -24px;
}

a.facebook_login_btn:active, a.twitter_login_btn:active {
	background-position: 0 -48px;
}

ul#nav {
	float: right;
	margin-top: 19px;
}

#nav li, #nav li a {
	float: left;
	display: block;
}

#nav li a {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 60px;
	font-family: "Archer", Rockwell;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	height: 56px;
	color: #333;
}

#nav li a:hover, #nav li a.active {
	color: #9ad0bc;
}

a#events {
	background: url(../images/events_icon.png) top center no-repeat;
	min-width: 74px;
}

a#about {
	background: url(../images/about_icon.png) top center no-repeat;
}

a#submit {
	background: url(../images/submit_icon.png) top center no-repeat;
}

a#connect {
	background: url(../images/connect_icon.png) top center no-repeat;
}


#content {
	float: left;
	width: 650px;
	margin-bottom: 100px;
}

#posts {
	float: left;
	width: 650px;
}

.post {
	float: left;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 25px;
	margin-bottom: 25px;
	width: 625px;
}

.post div.date {
	background: url(../images/date_icon.png) top left no-repeat;
	width: 55px;
	height: 71px;
	color: #fdfce8;
	font-family: "Archer", Rockwell;	
	text-align: center;
	float: left;
	margin-right: 17px;
}

.date .month {
	font-size: 10px;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-top: -2px;
	text-transform: uppercase;
}

.date .day {
	font-size: 40px;
	padding-top: 11px;
	display: block;
}

.post_image {
	max-width: 550px;
}

.post_content {
	margin-left: 70px;
}

.post_content h3 a{
	text-decoration: none;
	font-size: 24px;
	font-weight: lighter;
	margin: 10px 0;
	display: block;
}

.post_content .meta {
	font-size: 12px;
	font-style: italic;
	margin-top: 25px;
}









#sidebar {
	float: left;
	margin-left: 25px;
	width: 250px;
	margin-bottom: 50px;
}

#sidebar h2 {
	background: #9ad0bc url(../images/bar_tail.png) no-repeat left;
	font-size: 16px;
	font-family: "Archer", Rockwell;
	padding: 5px 5px 5px 20px;
	color: #2e2e2e;
	margin-bottom: 5px;
}

#sidebar h2 span {
	font-weight: bold;
}

#sidebar li {
	float: left;
	clear: both;
}

#tags li a {
	background: #e0e0e0;
	color: #2e2e2e;
	text-decoration: none;
	padding: 5px 5px 5px 10px;
	display: block;
	margin-bottom: 5px;
	margin-left: 11px;
}

#tags li a:hover {
	background: #f0f0f0;
}

#static_content {
  width: 450px;
}
#static_content h2 {
  font-size: 32px;
  font-family: "Archer", Rockwell;
  margin-bottom: 20px;
}

#static_content p {
  margin-bottom: 20px;
  margin-top: 20px;
}











#footer {
	clear: both;
	font-size: 12px;
	margin-bottom: 50px;
	border-top: 1px solid #e1e1e1;
}


.pagination {
	float: left;
	margin-bottom: 20px;
}

.pagination a, .pagination em {
	padding: 5px;
	border: 1px solid #e1e1e1;
	margin: 5px;
	text-decoration: none;
}

.pagination em {
	background: #f8f8f8;
}

a.add_btn {
  font-family: "Archer", Rockwell;
  font-size: 16px;
  font-style: italic;
  background: #88c5ae;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
	padding: 10px;
	float: right;
}

a.add_btn:hover {
	color: #444;
	background: #abd9c8;
}

#sign_up h2.title {
	margin-bottom: 20px;
	font-size: 24px;
	font-family: Archer;
	font-weight: bold;
}

#sign_up #error_explanation {
	background: #ffd4d4;
	padding: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #ff9597;
	margin-bottom: 10px;
}

#sign_up #error_explanation h2 {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #b45d5e;
}
#sign_up #error_explanation ul {
	margin-left: 25px;
	list-style: disc;
	margin-top: 9px;
}

.caution {
	background: #fff7d4;
	padding: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #ffcf00;
	margin-bottom: 10px;
	font-style: normal;
	font-size: 14px;
}

.caution span {
	font-weight: bold;
}

#sign_up form {
	width: 100%;
}
#sign_up fieldset {
	width: 400px;
}

#sign_up label {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
	clear: both;
}
#sign_up input[type="text"] {
	width: 97%;
	height: 25px;
	border: 1px solid #999;
	padding: 5px;
}

#sign_up input[type="submit"] {
	float: right;
	margin-top: 10px;
	width: 75px;
}






