<span class="facebook">
  <%- if user_signed_in? %>
    Logged in as <em><%= current_user.name %></em>. Not you?
    <%= link_to 'Sign out', destroy_user_session_path %>
  <%- else %>
  
    <%= link_to 'Sign in', "/auth/facebook", :class => "facebook_login_btn" %>
    <%= link_to 'Sign in', "/auth/twitter", :class => "twitter_login_btn" %>
  <%- end %>
</span>
