<div id="static_content">
  <h2>InspireMPLS</h2>

  <p>Minneapolis is a city flooded with all sorts of creative people. Creative people are often driven by inspiration. Inspiration is often found in many different forms. What is it that inspires you as a creative? Perhaps it's a local art gallery. Maybe your inspiration is a certain spot at a local coffee shop. Is what inspires you a loved one or close friend? Whatever it is that inspires your creativity Inspire MPLS wants to know. </p>

  <p>How it works:</p>
  <ul id="how">
    <li>You <a href="#">submit</a> an image of something that inspires you about Minneapolis <span id="example">(This could be anything &endash; a museum, park, coffee shop, art gallery, artist, etc...)</span></li>
    <li>Tell them why it inspires you</li>
    <li>Browse what others are inspired by</li>
    <li>Network with local creatives! (there will be an event for this)</li>
  </ul>
</div>