<div id="static_content">
  <h2>About InspireMPLS</h2>

  <p>Minneapolis is a city flooded with all sorts of creative people. Creative people are often driven by inspiration. Inspiration is often found in many different forms. What is it that inspires you as a creative? Perhaps it's a local art gallery. Maybe your inspiration is a certain spot at a local coffee shop. Is what inspires you a loved one or close friend? Whatever it is that inspires your creativity Inspire MPLS wants to know. </p>

  <p>Inspire MPLS is a place for sharing inspiration and meeting other creatives. Inspire MPLS also hopes to bring creatives together so be on a look out for any upcoming events.</p>
</div>