<div id="static_content">
  <h2>InspireMPLS Meetup</h2>

  <p>The first Inspire MPLS event will take place on December 16th, 2010 at <a href="http://www.oco.com/" title="OLSON">Olson</a> in Minneapolis. The event is going to be a social hour and a way for creatives in Minneapolis to network. If you are interested in attending this FREE event please sign up. Further event details are to be determined so be on the look out here.</p>

  <p>This event is also being put on in behalf of the Fall 2010 Graduating students of The Art Institutes International Minnesota. Below is a list of the graduates.</p>
  
  <div id="students">
    <div class="person">
      <h3 class="name">Dane Ray Messall</h3>
      <h3 class="desc">The Designer. Bike commuter fueled by coffee to serve delicious designs and exceptional markup.</h3>
    </div>
    <div class="person">
      <h3 class="name">Dane Ray Messall</h3>
      <h3 class="desc">The Designer. Bike commuter fueled by coffee to serve delicious designs and exceptional markup.</h3>
    </div>
  </div>
</div>