<div id="static_content">
  <h2>InspireMPLS Meetup</h2>

  <p>The first Inspire MPLS event will take place on December 16th, 2010 at <a href="http://www.oco.com/" title="OLSON">Olson</a> in Minneapolis. The event is going to be a social hour and a way for creatives in Minneapolis to network. If you are interested in attending this FREE event please sign up. Further event details are to be determined so be on the look out here.</p>

  <p>This event is also being put on in behalf of the Fall 2010 Graduating students of The Art Institutes International Minnesota. Below is a list of the graduates.</p>
  
  <div id="students">
    <div class="person">
      <img src="images/profile.png">
      <h3 class="name">Dane Ray Messall</h3>
      <h3 class="desc">The Designer. Bike commuter fueled by coffee to serve delicious designs and exceptional markup.</h3>
    </div>
    <div class="person">
      <img src="images/profile.png">
      <h3 class="name">John Heimkes IV</h3>
      <h3 class="desc">The Frontend. Wrangling design and code together in one pretty package.</h3>
    </div>
    <div class="person">
      <img src="images/profile.png">
      <h3 class="name">Jake Dahn</h3>
      <h3 class="desc">The Hacker. Likes clean code, and hopes to one day have a mustache.</h3>
    </div>
    <div class="person">
      <img src="images/profile.png">
      <h3 class="name">Dane Ray Messall</h3>
      <h3 class="desc">The Designer. Bike commuter fueled by coffee to serve delicious designs and exceptional markup.</h3>
    </div>
    <div class="person">
      <img src="images/profile.png">
      <h3 class="name">John Heimkes IV</h3>
      <h3 class="desc">The Frontend. Wrangling design and code together in one pretty package.</h3>
    </div>
    <div class="person">
      <img src="images/profile.png">
      <h3 class="name">Jake Dahn</h3>
      <h3 class="desc">The Hacker. Likes clean code, and hopes to one day have a mustache.</h3>
    </div>
  </div>
</div>

<% content_for :sidebar do -%>
  <div id="event_box">
    <h2><span>Event</span> Details</h2>
    
    <div style="width:195px; text-align:center;" ><iframe  src="http://www.eventbrite.com/calendar-widget?eid=1004377119" frameborder="0" height="435" width="220" marginheight="0" marginwidth="0" scrolling="no" ></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/features?ref=ecal" >Sell Tickets</a><span style="color:#ddd;" > through </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=ecal" >Eventbrite</a></div></div>  </div>
<% end -%>