<div id="static_content" class="submit_page">
  <div id="submit_content">
    <h2>Submitting Inspiration</h2>
    <p>We encourage everyone to share what inspires them about Minneapolis.</p>
    <p>Signing in through facebook or twitter connect is required.  Insipire MPLS ensures your security through these logins and will not store or reuse any of your personal information.</p>
    <p>Please be judicious with your images and language when creating a new post.</p>
  </div>
  <%= render :partial => "posts/form", :locals => { :posts => @random } %>
  
</div>