<% title "Posts" %>

<% for post in @posts %>
  <%= render :partial => "post", :locals => { :post => post } %>
<% end %>

<p class="add_insp"><%= link_to "Add Inspiration", new_post_path %></p>
<%= will_paginate @posts %>