<div id="sidebar">
  <h2><span>Popular</span> Tags</h2>
  <ul id="tags">
    <% tags = get_tag_width(@tags) %>
    
    <% for tag in tags %>
      <li data-count="<%= tag["count"] %>" style="width: <%= tag["width"] %>% !important;"><a href="#"><%= tag["name"] %></a></li>
    <% end %>
  </ul>
</div>
